body {
  background-color: var(--bg-color-dark);
}

/* CSS Common */
.btn {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  color: #fff;
  background-color: #008030;
  border-color: var(--primary-color);
}

p {
  /* color: var(--font-color); */
  font-size: 17px;
  line-height: 27px;
  color: #eee;
  opacity: 0.8;
}

/* ==== Slider ==== */
.slider {
  /* position: relative; */
}

.slider .carousel-item {
  height: 900px;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-1 {
  background-image: url(../image/b1.jpg);
}
.bg-image-2 {
  background-image: url(../image/b2.jpg);
}
.bg-image-3 {
  background-image: url(../image/b3.jpg);
}
.bg-image-4 {
  background-image: url(../image/b4.jpg);
}

.slider .carousel-caption {
  text-align: left;
  bottom: 50%;
  transform: translateY(50%);
}

.slider .carousel-caption h1 {
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 18px;
  max-width: 800px;
  font-weight: 600;
}

.slider .carousel-caption p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  opacity: 0.9;
}

.slider .carousel-caption .cta-btn {
  padding-top: 30px;
}

.slider .carousel-item::before {
  content: "";
  background: var(--layer);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}

.slider .carousel {
  position: relative;
  display: block;
}

.slider .carousel .carousel-btn {
  position: absolute;
  bottom: 50px;
  right: 25px;
}

.slider .carousel .carousel-control-prev {
  right: 95px;
}

/* ==== About ==== */
.title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}

.title-big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
}

.about-us p {
  font-size: 17px;
  line-height: 27px;
  color: #eee;
  opacity: 0.8;
}

.about-us .service-list {
  padding-left: 0;
}

.about-us .service-list .service-link {
  display: block;
  margin-bottom: 15px;
}

.about-us .service-list .service-link a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #eee;
}

.about-us .service-list .service-link i {
  color: var(--primary-color);
  margin-right: 5px;
  opacity: 0.8;
}

/* ==== About : right ======= */
.about-us .about-img img {
  border-radius: var(--border-radius);
}

/* ==== Feature ==== */
.features {
  background-color: #100f19;
}
.feature-grid-right .call-grids-w3 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.feature-grid-right .call-grids-w3 .box-wrap {
  padding: 40px 30px;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color: var(--bg-color-dark);
  transition: 0.3s ease;
}

.feature-grid-right .call-grids-w3 .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.feature-grid-right .call-grids-w3 .box-wrap h4 a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #eee;
}

.feature-grid-right .call-grids-w3 .box-wrap:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
  transition: 0.3s ease;
}

.feature-grid-right .call-grids-w3 .box-wrap h4 a:hover {
  color: var(--primary-color);
}
