body {
  background-color: var(--bg-color-dark);
}

.slider {
  /* position: relative; */
}

.slider .carousel-item {
  height: 900px;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-1 {
  background-image: url(../image/b1.jpg);
}
.bg-image-2 {
  background-image: url(../image/b2.jpg);
}
.bg-image-3 {
  background-image: url(../image/b3.jpg);
}
.bg-image-4 {
  background-image: url(../image/b4.jpg);
}

.slider .carousel-caption {
  text-align: left;
  bottom: 50%;
  transform: translateY(50%);
}

.slider .carousel-caption h1 {
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 18px;
  max-width: 800px;
  font-weight: 600;
}

.slider .carousel-caption p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  opacity: 0.9;
}

.slider .carousel-caption .cta-btn {
  padding-top: 30px;
}

.slider .carousel-caption a {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.slider .carousel-item::before {
  content: "";
  background: var(--layer);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}

.slider .carousel {
  position: relative;
  display: block;
}

.slider .carousel .carousel-btn {
  position: absolute;
  bottom: 50px;
  right: 25px;
  /* width: 50px; */
  /* height: 50px; */
}

.slider .carousel .carousel-control-prev {
  right: 95px;
}

/* ==== About ==== */
.title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}

.title-big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
}

.about-us p {
  font-size: 17px;
  line-height: 27px;
  color: #eee;
  opacity: 0.8;
}

.about-us .service-list {
  padding-left: 0;
}

.about-us .service-list .service-link {
  display: block;
  margin-bottom: 15px;
}

.about-us .service-list .service-link a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #eee;
}

.about-us .service-list .service-link i {
  color: var(--primary-color);
  margin-right: 5px;
  opacity: 0.8;
}

/* ==== About : right ======= */
.about-us .about-img img {
  border-radius: var(--border-radius);
}
