body {
  background-color: var(--bg-color-dark);
  color: #404040;
}

/* CSS Common */
.btn {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-style1 {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.3s ease-in;
  color: #eee;
  border: none;
  background-color: transparent;
}

.btn-primary:hover {
  color: #fff;
  background-color: #008030;
  border-color: var(--primary-color);
}

.btn-style1:hover {
  color: var(--primary-color);
}

.radius-image {
  border-radius: var(--border-radius);
}

p {
  /* color: var(--font-color); */
  font-size: 17px;
  line-height: 27px;
  color: #eee;
  opacity: 0.8;
}

a:hover {
  transition: 0.5s all;
}

/* ==== Slider ==== */
.slider {
  position: relative;
}

.slider .carousel-item {
  height: 900px;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-1 {
  background-image: url(../image/b1.jpg);
}
.bg-image-2 {
  background-image: url(../image/b2.jpg);
}
.bg-image-3 {
  background-image: url(../image/b3.jpg);
}
.bg-image-4 {
  background-image: url(../image/b4.jpg);
}

.slider .carousel-caption {
  text-align: left;
  bottom: 50%;
  transform: translateY(50%);
}

.slider .carousel-caption h1 {
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 18px;
  max-width: 800px;
  font-weight: 600;
}

.slider .carousel-caption p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  opacity: 0.9;
}

.slider .carousel-caption .cta-btn {
  padding-top: 30px;
}

.slider .carousel-item::before {
  content: "";
  background: var(--layer);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}

.slider .carousel {
  position: relative;
  display: block;
}

.slider .carousel .carousel-btn {
  position: absolute;
  bottom: 50px;
  right: 25px;
}

.slider .carousel .carousel-control-prev {
  right: 95px;
}

/* Fix slider start */
.slider .slickCarousel {
  position: relative;
}

.slider .slickCarousel .item {
    position: relative;
}

.slider .slickCarousel .item::before {
    content: "";
    background-color: var(--layer);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slider .slickCarousel img {
  width: 100%;
  height: 800px;
  display: block;
}

.slider .slickCarousel .banner {
    position: absolute;
    top: 30%;
    left: 30px;
    z-index: 2;
    color: var(--bg-color);
}

.slider .slickCarousel .banner h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 1.1;
    max-width: 800px;
    margin-bottom: 18px;
    animation-delay: 0.8s;
}

.slider .slickCarousel .banner p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    letter-spacing: 0.010em;
    margin-bottom: 25px;
    opacity: 0.8;
}

.slider .slickCarousel .banner button {
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    border-radius: var(--border-radius);
    background-color: #00a63f;
    border: 1px solid #00a63f;
    cursor: pointer;
    color: var(--bg-color);
    transition: all 0.5s;
    animation-delay: 1s;
}

.slider .slickCarousel .banner button:hover {
    background-color: #008030;
    border-color: #00732c;
}

/* Slide1 */
.slider .slickCarousel .slick-active .banner1 h1 {
    animation-name: flipInX;
}

.slider .slickCarousel .slick-active .banner1 p {
    animation-name: fadeInDown;
}

.slider .slickCarousel .slick-active .banner1 button {
    animation-name: fadeInUp;
}

/* Slide2 */
.slider .slickCarousel .slick-active .banner2 h1 {
    animation-name: fadeInDown;
}

.slider .slickCarousel .slick-active .banner2 p {
    animation-name: fadeInDown;
}

.slider .slickCarousel .slick-active .banner2 button {
    animation-name: fadeInDown;
}

/* Slide3 */
.slider .slickCarousel .slick-active .banner3 h1 {
    animation-name: fadeInUp;
}

.slider .slickCarousel .slick-active .banner3 p {
    animation-name: fadeInUp;
}

.slider .slickCarousel .slick-active .banner3 button {
    animation-name: fadeInDown;
}

/* Slide4 */
.slider .slickCarousel .slick-active .banner4 h1 {
    animation-name: flipInX;
}

.slider .slickCarousel .slick-active .banner4 p {
    animation-name: fadeInDown;
}

.slider .slickCarousel .slick-active .banner4 button {
    animation-name: fadeInUp;
}

.slider .slickCarousel .slick-arrow {
    position: absolute;
    bottom: 50px;
    background-color: #151421;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
    text-align: center;
    z-index: 10;
    cursor: pointer;
    color: #eee;
    
}

.slider .slickCarousel .next {
    right: 25px;
}

.slider .slickCarousel .prev {
    right: 95px;
}
/* Fix slider end */

.slider .shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider .shape svg {
  width: 100%;
}

.slider .shape path {
  fill: var(--bg-color-dark);
}

/* ==== About ==== */
.title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}

.title-big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
}

.about-us p {
  font-size: 17px;
  line-height: 27px;
  color: #eee;
  opacity: 0.8;
}

.about-us .service-list {
  padding-left: 0;
}

.about-us .service-list .service-link {
  display: block;
  margin-bottom: 15px;
}

.about-us .service-list .service-link a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #eee;
}

.about-us .service-list .service-link i {
  color: var(--primary-color);
  margin-right: 5px;
  opacity: 0.8;
}

/* ==== About : right ======= */
.about-us .about-img img {
  border-radius: var(--border-radius);
}

/* ==== Feature ==== */
.features {
  background-color: #100f19;
}
.feature-grid-right .call-grids-w3 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.feature-grid-right .call-grids-w3 .box-wrap {
  padding: 40px 30px;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color: var(--bg-color-dark);
  transition: 0.3s ease;
}

.feature-grid-right .call-grids-w3 .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.feature-grid-right .call-grids-w3 .box-wrap h4 a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #eee;
}

.feature-grid-right .call-grids-w3 .box-wrap:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
  transition: 0.3s ease;
}

.feature-grid-right .call-grids-w3 .box-wrap h4 a:hover {
  color: var(--primary-color);
}

/* ==== Service Block ==== */
.service-image {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.blog-info {
  padding: 0 20px;
  position: relative;
}

.blog-info a.title {
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: #eee;
  text-align: center;
  background: var(--bg-color-dark);
  padding: 12px 35px;
  display: inline-block;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  transform: translateY(-25px);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  transition: 0.3s ease;
}

.blog-info a.title:hover {
  color: var(--primary-color);
}

.service-block .grid-info:hover .blog-info .title {
  color: var(--primary-color);
}

/* ==== Gallery ==== */
.gallery {
  background: #100f19;
}

.gallery a.zoom {
  overflow: hidden;
  position: relative;
}

.gallery a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.gallery .overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--layer);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery .hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.gallery .hover-content .title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.gallery .hover-content .content {
  font-size: 18px;
  color: #eee;
  display: block;
}

.gallery .zoom:hover img {
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.gallery .zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

.gallery .zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery .company-logos {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.gallery .company-logos img {
  padding: 0 18px;
}

/* ==== Progress Block ===== */
.progress-block .progress-info {
  margin-bottom: 30px;
  text-align: left;
  position: relative;
}

.progress-block .progress-title {
  font-size: 18px;
  color: #eee;
  margin-bottom: 10px;
  font-weight: 400;
}

.progress-block .progress {
  display: flex;
  height: 4px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #100f19;
  border-radius: 0.25rem;
}
.progress-block .info1 .progress-title {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 80%;
}

.progress-block .info2 .progress-title {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 95%;
}

.progress-block .info3 .progress-title {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 60%;
}

.progress-block .info4 .progress-title {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 85%;
}

.progress-block .progress-bar.gradient-1 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.progress-block .progress-bar.gradient-2 {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.progress-block .progress-bar.gradient-3 {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.progress-block .progress-bar.gradient-4 {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.progress-block .progress-bar-striped {
  background-size: cover;
}

.progress-block .progress-bar.gradient-1:before,
.progress-block .progress-bar.gradient-2:before,
.progress-block .progress-bar.gradient-3:before,
.progress-block .progress-bar.gradient-4:before {
  height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: 0.3;
}

.progress-block .progress-bar.gradient-1:after,
.progress-block .progress-bar.gradient-2:after,
.progress-block .progress-bar.gradient-3:after,
.progress-block .progress-bar.gradient-4:after {
  height: 13px;
  width: 13px;
  border: 3px solid;
  background-color: var(--bg-color-dark);
}

.progress-block .progress-bar.gradient-1:after,
.progress-block .progress-bar.gradient-1:before {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress-block .progress-bar.gradient-2:after,
.progress-block .progress-bar.gradient-2:before {
  content: "";
  position: absolute;
  right: 5%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress-block .progress-bar.gradient-3:after,
.progress-block .progress-bar.gradient-3:before {
  content: "";
  position: absolute;
  right: 40%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress-block .progress-bar.gradient-4:after,
.progress-block .progress-bar.gradient-4:before {
  content: "";
  position: absolute;
  right: 15%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

/* ===== Testimonial ===== */
.testimonials {
  background: #100f19;
}
.testimonials .item-content {
  display: block;
  padding: 40px 30px;
  position: relative;
  border: none;
  max-width: 900px;
  margin: auto;
}

.testimonials .item-content {
  overflow: hidden;
  text-align: center;
}

.testimonials .item-content blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

.testimonials .item-content blockquote q {
  font-size: 18px;
  line-height: 28px;
  color: #c2c2c2;
  opacity: 0.8;
}

.testimonials .item-content .testi-des {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  text-align: left;
  grid-gap: 20px;
}

.testimonials .item-content .testi-des .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color-dark);
  border-radius: 50%;
}

.testimonials .item-content .testi-des .test-img img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.testimonials .item-content .people {
  align-self: center;
}

.testimonials .item-content .people h3 {
  margin: 0px;
  font-weight: 600;
  font-size: 20px;
  color: #eee;
}

.testimonials .item-content .people .identity {
  font-style: normal;
  margin-bottom: 0;
  opacity: 0.8;
}

.owl-dot span {
  color: red;
  display: inline-block;
  zoom: 1;
  background: transparent;
  color: #404040;
}

.owl-theme .owl-dots .owl-dot span {
  background: var(--secondary-color);
  opacity: 0.5;
  transition: 0.3s;
}

.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span {
  opacity: 1;
  transform: scale(1.5);
  background: var(--secondary-color);
}

/* ==== Blog ==== */
.blog .card {
  background: none;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.blog a.zoom {
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* Fix blog img width start */
.blog .post-thumbnail img {
  max-width: 100%;
  display: block;
}
/* Fix blog img width end */

.blog .price-review p a,
.blog .price-review p {
  font-weight: 400;
  font-size: 17px;
  color: #999;
}

.blog a.blog-desc {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #eee;
  margin-top: 10px;
}

.blog .card-footer {
  background: var(--bg-color-dark);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.blog .card-footer .author {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
}

.blog .card-footer .author .post-author {
  overflow: hidden;
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 40px;
}

.blog .card-footer .author .meta-value {
  color: #c2c2c2;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.6;
}

.blog .card-footer .author a {
  font-size: 16px;
  color: #eee;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
}

.blog .card-footer .author .date {
  display: flex;
  align-items: center;
  text-align: center;
}

.blog .card-footer .author .date span {
  color: #c2c2c2;
  opacity: 0.8;
  font-size: 15px;
}

.blog .card:hover .post-thumbnail img {
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.blog a.blog-desc:hover {
  color: var(--primary-color);
}

.blog .card-footer .author .blog-meta a:hover {
  color: var(--primary-color);
}

/* ==== Project ==== */
.project {
  background-image: url(../image/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project .bottom-info {
  max-width: 700px;
  margin: 0 auto;
}

.project form.subscribe {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  max-width: 550px;
  margin: auto;
}

.project form.subscribe .input-group-text {
  color: #999;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 0 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.project form.subscribe input[type="email"] {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  width: 100%;
  background: var(--bg-color-dark);
  border-radius: 0;
  color: #999;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.15);
  border-left: none;
}

.project form.subscribe button.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 25px;
  font-size: 16px;
}

/* Responsive start */
@media screen and (max-width: 1200px) {
  .title-big {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 992px) {
  .slider .slickCarousel .item {
    min-height: 650px;
  }

  .slider .slickCarousel .banner h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .slider .slickCarousel .item {
    min-height: 600px;
  }

  .slider .slickCarousel .banner h1 {
    font-size: 45px;
  }

  .slider .slickCarousel .banner p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 576px) {
  .title-big {
    font-size: 30px;
    line-height: 38px;
  }

  .slider .slickCarousel .item {
    min-height: 550px;
  }

  .slider .slickCarousel .banner h1 {
    font-size: 36px;
  }
}
/* Responsive end */